:root {
  --primary-color: rgb(6, 95, 117);
  --secondary-color: rgb(255, 255, 255);
  --text-color: black;
  --text-color-light: rgb(117, 117, 117);
}

@font-face {
  font-family: Roboto;
  src: url("fonts/Roboto-Regular.woff2") format("woff2"),
    url("fonts/Roboto-Regular.woff") format("woff");
}

@font-face {
  font-family: "Playfair Display";
  src: url("fonts/PlayfairDisplay-Regular.woff2") format("woff2"),
    url("fonts/PlayfairDisplay-Regular.woff") format("woff");
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: relative;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", "Times New Roman", Times, serif;
  font-weight: 500;
}

p {
  margin: 0;
  padding: 0;
}

.icon-container img,
.icon-container a {
  width: inherit;
  height: inherit;
  display: block;
}

.background {
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.4));
  position: absolute;
  width: 100%;
  height: 25%;
  z-index: -1;
}

.background::before {
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
  position: absolute;
  content: "";
}

main {
  padding: 4vw 6vw;
  padding: 4.5rem 6.5rem;
  display: grid;
  gap: 5rem;
}

.about-me-container {
  display: grid;
  grid-template-columns: 4fr 5fr;
  align-items: center;
}

.portrait-container {
  position: relative;
  display: grid;
  align-items: end;
}

.portrait-container img {
  object-fit: contain;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.portrait-container h1 {
  position: absolute;
  justify-self: center;
  font-size: calc(2.5vw + 1.5rem);
  font-size: 5rem;
  color: black;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  transform: translateY(-10px);
}

#about-me {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  padding: 2vw;
  padding: 2.5rem;
  display: grid;
  gap: 1.5vw;
  gap: 2rem;
}

.section-title {
  font-size: max(2rem, calc(2.5vw + 0.6rem));
  font-size: 3.5rem;
  font-weight: 500;
}

#about-me p {
  font-size: max(1.1rem, calc(1vw + 0.6rem));
  font-size: 1.8rem;
  color: var(--text-color-light);
}

.icons-container {
  display: flex;
  gap: 3rem;
  justify-self: end;
}

#about-me .icon-container {
  width: max(2rem, calc(2.5vw + 0.6rem));
  height: max(2rem, calc(2.5vw + 0.6rem));
  width: 3.5rem;
  height: 3.5rem;
}

#my-work {
  display: grid;
  gap: 2rem;
}

.projects-container {
  display: grid;
  row-gap: 3rem;
  column-gap: 3vw;
  column-gap: 3.5rem;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

article.project {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.project-screenshot {
  background-color: aqua;
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.project-screenshot img {
  width: 100%;
}

.project-content {
  padding: 1.5vw 2vw;
  padding: 2rem 2.5rem;
  background-color: var(--secondary-color);
  display: grid;
  gap: 1.5vw;
  gap: 2rem;
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: max(1.2rem, calc(1vw + 0.6rem));
  font-size: 1.8rem;
}

.project-header .icons-container {
  gap: 1rem;
}

.project-header .icon-container {
  width: calc(1.5vw + 1rem);
  height: calc(1.5vw + 1rem);
  width: 2.8rem;
  height: 2.8rem;
}

.project-body {
  font-size: max(1rem, calc(0.8vw + 0.6rem));
  font-size: 1.5rem;
  color: var(--text-color-light);
}

footer {
  padding: 4vw 6vw;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

#contact-me {
  display: grid;
  grid-template-columns: 4fr 6fr;
  font-size: max(1.1rem, calc(1vw + 0.6rem));
  font-size: 1.5rem;
  gap: 2rem;
}

.contact-info-item img {
  filter: invert(100%);
}

.contact-me-container {
  display: flex;
  flex-direction: column;
  gap: 3vw;
  gap: 3.5rem;
}

.contact-info-container {
  display: grid;
  gap: 1rem;
}

.contact-info-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#contact-me .contact-info-item .icon-container {
  width: max(2rem, calc(2.5vw + 0.6rem));
  height: max(2rem, calc(2.5vw + 0.6rem));
  width: 3rem;
  height: 3rem;
}

#contact-me .icon-container {
  width: max(2rem, calc(2.5vw + 0.6rem));
  height: max(2rem, calc(2.5vw + 0.6rem));
  width: 4.5rem;
  height: 4.5rem;
}

#contact-me .photo-credit {
  font-size: 2rem;
}

#contact-me a {
  color: var(--secondary-color);
}

.working-picture-container img {
  width: 100%;
}

@media screen and (max-width: 1500px) {
  html {
    font-size: 13px;
  }

  .projects-container {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
}

@media screen and (max-width: 1250px) {
  html {
    font-size: 10px;
  }
}

@media screen and (min-width: 481px) and (max-width: 1025px) {
  html {
    font-size: 13px;
  }

  .about-me-container {
    /* this make float works */
    display: block;
  }

  .portrait-container {
    float: left;
    width: 50%;
    height: auto;
    transform: translate(-2rem, -1rem);
    align-items: start;
  }

  .portrait-container h1 {
    justify-self: end;
    transform: translate(80%, 20%);
  }

  #about-me {
    display: block;
    margin-top: 10rem;
  }

  #about-me h2 {
    margin-top: 5rem;
    text-align: center;
  }

  #about-me h2,
  #about-me p {
    margin-bottom: 2rem;
  }

  #contact-me {
    display: grid;
    grid-template-columns: 6fr 4fr;
    font-size: max(1.1rem, calc(1vw + 0.6rem));
    gap: 2rem;
  }
}

@media screen and (max-width: 920px) {
  html {
    font-size: 10px;
  }

  .projects-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .background::before {
    clip-path: polygon(0 0, 100% 0, 100% 30%, 0 70%);
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 13px;
  }

  h1,
  h2 {
    text-align: center;
  }

  main,
  .contact-me-container {
    padding: 3rem;
  }

  .background::before {
    clip-path: polygon(0 0, 100% 0, 100% 10%, 0 30%);
  }

  .about-me-container {
    display: flex;
    flex-direction: column;
  }

  #about-me {
    box-shadow: none;
  }

  .projects-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .icons-container {
    justify-self: center;
  }

  footer {
    padding: 0;
  }

  #contact-me {
    display: flex;
    flex-direction: column;
  }

  .working-picture-container img {
    /* this remove gap bellow the image */
    display: block;
  }
}
